
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.post-detail {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-detail h2 {
    font-size: 24px;
    color: #333;
}

.post-detail p {
    color: #555;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.comments {
    margin-top: 30px;
}

.comments h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.comment {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment p {
    margin: 0;
}

.comment p strong {
    color: #007bff;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}


.edit-button, .delete-button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.edit-button {
    background-color: #28a745;
    color: #fff;
}

.edit-button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.delete-button:hover {
    background-color: #c82333;
}
